
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
#firstdiv{
    background: #76BEBE;
    width: 1366px;
    height: 107px;
    
}
h2{
    font-family: 'Raleway';
        font-style: none;
        font-weight: 200px;
        font-size: 22px;
        line-height: 32px;
        margin-left: 180px;
        
}
#picture{
    padding-left: 150px;
}
#organize{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Raleway';
    color:#F5F5F5;
    text-decoration-style: none;
    font-weight: 600px;
    font-size: 26px;
    line-height: 32px;   
    
}
#casa{
    margin-top: 25px;
    margin-left: 20px;
    font-family: 'Alegreya Sans SC';
    list-style: none;
}
#medicine{
    margin-top: 15px;
        text-align: center;
        line-height: 25px;
        font-family:'Alegreya Sans SC';
        list-style: none;
}
#vaccine {
    margin-top: 15px;
    text-align: center;
    line-height: 25px;
    font-family: 'Alegreya Sans SC';
    text-emphasis: none ;
    list-style: none;
 } 
 #suplements {
     margin-top: 15px;
     text-align: center;
     line-height: 25px;
     margin-right: 30px;
     list-style: none;
 }
 #lbl1{
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
    text-align: center;
 }
#lbl2 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
    text-align: center;
    margin-top: 15px;
}
#lbl3 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
    text-align: center;
    margin-top: 15px;
}

 
 #input1{
    border-radius: 10px;
    border: 0;
    padding-left: 10px;
    height: 25px;
 }
 #input2 {
     border-radius: 10px;
     border: 0;
     padding-left: 10px;
     height: 25px;
 }
 #input3 {
     border-radius: 10px;
     border: 0;
     padding-left: 10px;
     height: 25px;
 }       

#headerorganize{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
        
}
#headerchange{
    font-family: 'Raleway';
        font-style: normal;
        font-size: 50px;
        line-height: 45px;  
        color: #CF509C;
        padding-right: 200px;
        align-items: center;
} 

.maincontent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: pink;
    height: 375px;
    padding-top: 60px;
    width: 1366px

}
#firstinput{
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    padding-left: 30px;
}
 th, td{
    
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;  
    color: black;
    margin-right: 220px;
    width: 180px;
    height: 20px;
    border: 1px solid #767373;
 }
#linha{
    height: 25px;
 }
 #coluna{
    background: white;
    border: 1px solid #767373;
    
 }
 #cadastre{
    background: #76BEBE;
    cursor: pointer;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    border: 0;
    margin-top: 30px;
    width: 120px;
    margin-left: 35px;

 }
 #lixo{
    margin-left: 150px;
    cursor: pointer;
 }